<div class="wrap">
  <% if current_user.try(:admin?) %>
  <h1>Edit <%= @food.title %></h1>
  <ul class="enter-info">
    <% @locations.each do |location| %>
        <li>
          <h3>Add seasonal info for <%= @food.title %> in <%= location.title %></h3>
          <% @food.eatables.each do |eatable| %>

          <%= form_for eatable do |f| %>
            <%= f.hidden_field :location_id, :value => location.id %>
            <%= f.hidden_field :food_id, :value => @food.id %>
            <%= f.text_field :description, placeholder: "Description", :class => 'field-name' %>

            <%= f.collection_check_boxes :month_ids, @months, :id, :title, {}, {:multiple => true} %>

            <%= f.submit "Update " + @food.title + " in " + location.title, :class => 'add button', :tabindex => '3' %>
          <% end %>

          <% end %>

          </li>


    <% end %>
  </ul>
  <% end %>
</div>